body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#navCustom {
color: #fff;
}

#navCustom:hover{
  color: #f9e813;
  transition: 0.3s ease-in-out;
}

#navCustom:focus{
  color: #f9e813;
  transition: 0.3s ease-in-out;
}

